[submodule "acl-gazebo"]
	path = acl-gazebo
	url = https://gitlab.com/mit-acl/lab/acl-gazebo.git
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
